body {
	margin: 0;
	font: normal 16px/24px Arial, sans-serif;
	background: url('../images/pattern.jpg') left top repeat;
	min-width: 320px;
}
p {
	margin: 0;
}
.container {
	margin: 0 auto;
	padding: 16px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.div-popup {
	position: fixed;
	top: 300px;
	left: 50%;
	margin-left: -250px;
	width: 450px;
	background: #fff;
	border-radius: 10px;
	padding: 25px;
	color: #000;
}


/* header */
.topheader {
	background: #000;
	color: #fff;
}
.mainheader {
	background: #fff;
	height: 132px;
}
.bottomheader {
	background: #f93c00;
}
#yourcity {
	cursor: pointer;
}
.div-popup {
	opacity: 0;
	display: none;
	background: #fff;
}
.topmenu {
	text-align: center;
}
.topmenu a {
	text-decoration: none;
	padding: 10px;
}
.line-point {
	color: #fff;
}
.pulldown-point {
	color: #f93c00;
	background: #fff;
}
.menupoint {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	border: 1px solid #fff;
	border-radius: 10px;
}
.menupoint > span {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
}
.menupoint:hover > span,
.menupoint > span:hover {
	display: block;
}
.menupoint:hover {
	border-color: #f93c00;
	background: #fff;
}
.menupoint:hover .line-point {
	color: #f93c00;
}
.pulldown-point:hover {
	color: #000;
}
.logo {
	border-radius: 25px;
	max-height: 100px;
	max-width: 100px;
	float: left;
	margin-right: 20px;
}
.mainheader .container {
	position: relative;
}
.basket {
	float: right;
	margin: 30px 0 30px 50px;
	border: 1px solid #000;
	line-height: 40px;
}
.basket-label {
	position: absolute;
	top: 80px;
	right: 0;
	display: none;
	opacity: 0;
	transition: opacity 5s ease;
}
.basket:hover + .basket-label {
	display: block;
	opacity: 1;
	transition: opacity 5s ease;
}

/* main */
main {
	flex: 1 1 auto;
	background: #fff;
}

/* footer */
footer {
	background: #316099;
	color: #fff;
}

/* aside */
aside {
	flex: none;
	width: 180px;
	background: brown;
	color: #fff;
}
.catmenu {
	padding: 16px;
}
.catmenu_item {
	padding: 0 20px 10px;
	position: relative;
}
.catmenu_item:before {
	content: '=>';
	position: absolute;
	left: 0;
}
.catmenu_item a {
	display: block;
	color: #fff;
	text-decoration: none;
}
.catmenu_item a:hover {
	text-decoration: underline;
}
.submenu_mover {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	transition: all 1s ease;
}
.open .submenu_mover {
	transform: rotate(180deg);
}
.submenu {
	height: 0;
	overflow: hidden;
}
.submenu a {
	position: relative;
	padding-left: 20px;
}
.submenu a:before {
	content: '->';
	position: absolute;
	left: 0;
}


/* catalog */
.catalog {
	display: flex;
	gap: 8px;
}
.cat-blocks {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 8px;
}
.cat-unit {
	height: 100px;
	width: 100px;
	background: pink;
}



/* different screens */
@media (min-width: 576px) {
	.cat-blocks {
		gap: 32px;
	}
	aside {
		width: 260px;
	}
	.catalog {
		gap: 16px;
	}
}
@media (min-width: 768px) {
	.cat-blocks {
		gap: 4px;
	}
}
@media (min-width: 992px) {
	.cat-blocks {
		gap: 10px;
	}
}
@media (min-width: 1200px) {
	.cat-blocks {
		gap: 22px;
	}
}
@media (min-width: 1400px) {
	.cat-blocks {
		gap: 14px;
	}
}